<div class="row">
    <div class="card recipe-item-card col-sm-12">
        <div class="card-body recipe-item-body">
            <div class="col-6 recipe-item-desc">
                <h4 class="card-title">{{recipe.name}}</h4>
                <p class="card-text">{{recipe.description}}</p>
            </div>
            <div class="col-6 recipe-item-img">
                <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="recipe-item-img-thumbnail" />
            </div>
        </div>
    </div>
</div>

