<div class="container">
    <div class="row">
        <div class="col-sm-12 recipe-header-title">
            <h1 class="display-4">Your Recipes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <button class="btn btn-success recipe-add-btn">New Recipe</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <app-recipe-list (recipeElementClickEvent)="recipeElementOnClick($event)"></app-recipe-list>
        </div>
        <div class="col-md-7">
            <app-recipe-detail [recipeDetails]="recipeElement"  *ngIf="recipeElement; else infoText">
            </app-recipe-detail>
            <ng-template #infoText>
                <p>Please select a recipe!</p>
            </ng-template>
        </div>
    </div>
</div>
