<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputCity">Name</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Amount</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12" >
                    <input type="submit" class="btn btn-sm btn-success" value="Add">
                    <input type="button" class="btn btn-sm btn-danger" value="Delete">
                    <input type="submit" class="btn btn-sm btn-secondary" value="Clear">
                </div>
            </div>
        </form>
    </div>
</div>
