<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-shopping-edit (addIngredientsEvent)="ingredientsAddedHandler($event)"></app-shopping-edit>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ingredient-list">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of ingredients">{{ingredient.name}} ({{ingredient.amount}})</li>
            </ul>
        </div>
    </div>
</div>

